<template>
  <li class="todo-line">
    <div class="list-item" v-if="!edit">
      <input type="checkbox" v-model="todoItem.done">
      <p class="item-label">{{ index + 1 }} . {{ todoItem.text  }} </p>
      <p class="item-status" v-if="todoItem.done">finished</p>
      <span class="item-delete" @click="$emit('remove', index)">Delete</span>
      <button @click="onEditClick(todoItem.text)">Edit</button>
      <span>{{upperCase}}</span>
   </div>
   <input type="text" v-else v-model="editText" @keyup.enter="onEnter">
  </li>
</template>

<script>
export default {
  props: {
    todoItem: Object,
    index: Number,
  },
  data () {
    return {
      edit: false,
      editText: '',
    }
  },
  computed: {
    upperCase: function() {
      return this.todoItem.text.toUpperCase()
    }
  },
  methods: {
    onEditClick(e) {
      this.edit = true
      this.editText = e
    },
    onEnter () {
      this.$emit('editTodo', this.index, this.editText)
      this.edit = false
      this.editText = ''
    },
  }
}
</script>

<style scoped>
.todo-line {
  height: 30px;
}
.item-status {
  display: inline;
  background: red;
  color: white;
  padding: 0 5px;
  font-size: 12px;
}
.item-delete {
  /* display: none; */
  text-decoration: underline;
  font-size: 12px;
  color: gray;
  cursor: pointer;
}
.item-label {
  display: inline;
}
.line-through {
  text-decoration: line-through;
}
</style>