<template>
  <div>
    <h2>Simply todolist - vuejs</h2>
    <input id="add-input" v-model="todoText" @keyup.enter="addTodo" placeholder="do what?"/>
    <transition-group name="list" tag="ul">
      <Todo v-for="(todoItem, index) in todoList" :todoItem="todoItem" :index="index" :key="index"
      @remove='deleteTodo'
      @editTodo='editTodo'
      />
     </transition-group>
  </div>
</template>
<script>
import Todo from './components/Todo'
import axios from 'axios'
import {get} from 'lodash-es'
export default {
  name: 'todoList',
  components: {
    Todo,
  },
  data () {
    return {
      todoText: '',
      todoList: [],
    }
  },
  async created () {
    const data = await axios.get('https://api.myjson.com/bins/u5ano')
    this.todoList = get(data,'data', []).map(i => ({
      text: i.name,
      done: false,
    }))
  },
  methods: {
    addTodo () {
      if (!this.todoText) return
      this.todoList.push({
        text: this.todoText,
        done: false,
      })
      this.todoText = ''
    },
    deleteTodo (index) {
      this.todoList = this.todoList.filter((i, idx) => idx !== index)
    },
    editTodo(index, text) {
      this.todoList.find((i, idx) => idx === index).text = text
    }
  },
}
</script>

<style>
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
body {
  font-family: Helvetica, sans-serif;
}
#app {
  width: 800px;
  margin: 30px auto;
}
#add-input {
  width: 750px;
  height: 35px;
  padding: 0 5px;
}
ul {
  list-style: none;
  padding: 0;
}
</style>